* {
    margin: 0;
    padding: 0;
    font-family: "Balsamiq Sans";
}

#nav {
    margin: 0 auto;
    width: 700px;
    background-color: black;
    color: white;
}

#feed {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
    border: 5px solid red;
    width: 700px;
    height: 500px;
    margin: auto;
    display: flex;
}

.leftside {
    flex: 0.75;
    height: 45%;
    border: 3px solid black;
    margin: 0px 20px;
}

.leftside img {
    margin: 20px;
    margin-left: 50px;
}

.leftside a {
    margin-left:40px;
}

.leftside h2 {
    margin-left: 30px;
    margin-top: 20px;
}

.rightside {
    flex: 2;
    border: 5px solid lime;
}

