* {
    margin: 0px;
    padding: 0px;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

.col {
    background-color: rgb(101,163,172);
    flex: 1;
    margin: 5px;
    padding: 20px;
    color: white;
}

.col-2 {
    flex: 2;
    padding: 20px;
    margin: 5px;
    background-color: rgb(101,163,172);
    color: white;

}

.col-3 {
    flex: 3;
    padding: 20px;
    margin: 5px;
    background-color: rgb(101,163,172);
    color: white;
}