<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Dojo Survey</title>
</head>
<body>

    <div class="card w-50" style="margin: 0px 0px 0px 25%; text-align: center; background-color: aqua;">
        <div class="card-body">
          <h1 class="card-title">Dojo Survey</h1>
          <form method="post" action="/form_submit">
            <label for="name">Your Name: </label><br> 
            <input type="text" id="name" name="name"><br><br>
    
            <label for="location">Dojo Location: </label><br>
            <select name="location" id="location">
                <option value="selector">--Select a Location--</option>
                <option value="Seattle, Washington">Seattle, Washington</option>
                <option value="Atlanta, Georgia">Atlanta, Georgia</option>
                <option value="Houston, TX">Houston, Texas</option>
            </select><br><br>
    
            <label for="language">Favorite Language: </label><br>
            <select name="language" id="language">
                <option value="selector">--Select a Language--</option>
                <option value="Python">Python</option>
                <option value="Javascript">Javascript</option>
                <option value="Java">Java</option>
            </select><br><br>
    
            <label for="comment">Comment (optional):</label><br>
            <textarea name="comment" id="comment" cols="30" rows="10"></textarea><br><br>
    
            <button style="background-color: blue; box-shadow: 2px 2px black; color: white; border: 2px solid black;">Submit</button>
        </form>          
        </div>
      </div>

    

</body>
</html>