<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Processed Form</title>
</head>
<body>

    <div class="card" style="width: 18rem;text-align:center; margin: 0px 0px 0px 40%; background-color: hotpink;">
        <div class="card-header"><h1>{{ session['name'] }}</h1></div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Dojo Location: {{ session['location'] }}</li>
          <li class="list-group-item">Favorite Language: {{ session['language'] }}</li>
          <li class="list-group-item">Comments: {{ session['comment'] }}</li>
        </ul>
        <a href="/"><button style="text-align: center; background-color: orange; box-shadow: 2px 2px black; border: 3px solid black;">Go Back</button></a>
      </div>





    <h1></h1>
    <p></p>
    <p></p>
    <p></p>

    
    
</body>
</html>