<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Recipe</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
</head>

<body style="font-family: Balsamiq Sans;">
    <div class="edit_header" style="display: flex;">
        <h1 style="flex: 2;">Edit Recipe!</h1>
        <div class="hyperlinks" style="flex: 1;">
            <a href="/user_page">back to recipes</a> |
            <a href="/log_out">logout</a>
        </div>

    </div>

    {%for each_message in get_flashed_messages()%}
    <p style="color: red;">{{each_message}}</p>
    {%endfor%}
    <div style="margin: 0px 500px 0px 500px;">

        <form action="/update_recipe/{{recipe.id}}" method="post">

            <div class="left_form">
                <div class="mb-3">
                    <label for="recipe_name" class="form-label">Name </label>
                    <input type="text" name="recipe_name" class="form-control" id="exampleInputEmail1 recipe_name" aria-describedby="emailHelp" value="{{recipe.name}}">
                </div>
        
                <div class="mb-3">
                    <label for="description" class="form-label">Description: </label>
                    <textarea name="description" id="exampleInputEmail1" cols="30" rows="10" class="form-control">{{recipe.description}}</textarea>
                </div>
        
                <div class="mb-3">
                    <label for="instructions" class="form-label">Instructions: </label>
                    <textarea name="instructions" id="exampleInputEmail1" cols="30" rows="10" class="form-control">{{recipe.instructions}}</textarea>
                </div>
            </div>
    
    
        <div class="right_form">
    
            <div class="mb-3">
                <label for="date_cooked" class="form-label">Date Cooked/Made</label>
                <input type="date" class="form-control" id="exampleInputPassword1 date_cooked" name="date_cooked" value="{{recipe.date_cooked}}">
            </div>
    
            <div class="mb-3">
                
                <label for="under_30" class="form-label">Under 30 Minutes? </label>

                {%if recipe.under_30 == 1%}
                <input type="radio" name="under_30" id="under_30_yes" value="1" checked="checked">
                <label for="under_30">Yes</label>
                <input type="radio" name="under_30" id="under_30_no" value="0">
                <label for="under_30">No</label>

                {%else%}
                <input type="radio" name="under_30" id="under_30_yes" value="1">
                <label for="under_30">Yes</label>
                <input type="radio" name="under_30" id="under_30_no" value="0" checked="checked">
                <label for="under_30">No</label>

                {%endif%}
            </div>
        
            <button type="submit" class="btn btn-primary">Submit</button>
    
        </div>
    
        </form>



    </div>
  
    
</body>
</html>