* {
    margin: 0;
    padding: 0;
    font-family: "Balsamiq Sans";
}

nav {
    display: flex;
    justify-content: space-around;
    width: 700px;
    background: lightgray;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
}

nav h1 {
    font-size: 20pt;
    flex: 1;
    text-align: center;
    padding: 2px;
}

nav input {
    border: 3px solid black;
    flex: 2;
    margin-left: 2px;
    padding-left: 10px;
}

nav button {
    flex: 0.5;
    font-size: 15px;
    font-family: "Balsamiq Sans";
    color: white;
    background-color: rgb(44,120,228);
    box-shadow: 2px 3px black;
    border: 3px solid black;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.leftside {
    flex: 2;
    padding: 20px;
}


.topbox, .bottombox {
    display: flex;
    border: 3px solid black;
    margin-left: 180px;
    margin-bottom: 20px;
    padding: 10px;
    gap: 40px;
    height: 40%;
}



.leftTop h1, .leftBottom h1 {
    margin-left: 15px;
    padding-bottom: 3px;
    /* border: 5px solid rebeccapurple; */
}

.leftTop h2, .leftBottom h2 {
    margin-left: 30px;
    font-size: 13pt;
    font-style: italic;
    padding-bottom: 5px;
}

.leftTop h3, .leftBottom h3 {
    font-size: 12pt;
}

.plural {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.ninjas {
    font-style: italic;
    text-align: left;
    margin-left: 1px;
}

.rightTop, .rightBottom {
    flex: 3;
    /* border: 5px solid red; */
}

.rightTop h2, .rightBottom h2 {
    padding-top: 30px;
}

.leftside button {
    background-color: rgb(255,217,103);
    border: 2px solid black;
    box-shadow: 2px 2px black;
    padding-top: 5px;
    padding: 5px 15px;
    margin: 8px 13px;
}


.rightside {
    flex: 1.25;
}

.rightside button {
    background-color: rgb(147,196,125);
    border: 2px solid black;
    box-shadow: 2px 2px black;
    padding-top: 5px;
    padding: 5px 40px;
    margin: 8px 10px;
}

.rightsinglebox h2 {
    margin-left: 10px;
    padding-top: 25px;
}

.rightsinglebox {
    height: 40%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 200px;
    margin-bottom: 20px;
    border: 3px solid black;
    display: block;
}