<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container" style="display: flex; gap:30px;">
        <div class="left_side">
          <h1>New Books</h1>
          <form action="/create_book" method="post">
            <label for="title">Title</label>
            <input type="text" name="title" id="title">

            <label for="num_of_pages">Number of Pages</label>
            <input type="text" name="num_of_pages" id="num_of_pages">

            <button class="btn btn-primary">Create</button>
          </form>
    
        </div>
    
        <div class="right_side" style="display: block;">
          <h1>All Books</h1>
          {% for each_book in all_books %}
          <a href="/link_show_book/{{each_book.id}}"><p>{{each_book.title}}</p></a>
        {% endfor %}
        </div>

        <div>
            <a href="/" class="btn btn-danger">Home</a>
          </div>
    
    
    
    
      </div>












    
</body>
</html>