<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav style="display: flex;">
        <h1 style="flex: 2;">CodingDojo Wall</h1>
        <div class="leftNav" style="flex: 1; display: flex; align-items: center; gap: 30px;">
            <h3>Welcome, {{user.first_name}}!</h3>
            <a href="/logout">Log Out</a>
        </div>
    </nav>

    <div class="container" style="display: flex; gap: 50px;">
        <div class="left_container">
            <h2>{{count}} Message(s) for You</h2>
            
            {%for each_message in all_messages_received%}
            <h5>{{each_message.first_name}} said:</h5>
            <div class="message_and_options" style="display: flex; align-items: center;">
                <p>{{each_message.message}}</p>  |  <a href="/delete_message/{{each_message.id}}">Delete</a>
            </div>
            {%endfor%}


        </div>

        <div class="right_container">
            {%for each_message in get_flashed_messages()%}
            <p class="text-danger">{{each_message}}</p>
            {%endfor%}

            <h2>Send Messages</h2>
            {% for each_user in all_users %}
            {%if not each_user.id == session['user_id']%}
            <div class="message_user">
                
                <form action="/send_message/{{each_user.id}}", method="post">
                    <label for="message">{{each_user.first_name}}</label>
                    <textarea name="message" id="message" cols="30" rows="3"></textarea>
                    <input type="submit" value ="Send">
                </form>
            </div>
            {% endif %}
            {%endfor%}

        </div>




    </div>




</body>
</html>