* {
    margin: 10px;
    padding: 0px;
}


.search {
    display: block;
    border: 2px solid rgb(3,209,178);
    color: rgb(3,209,178);
    background-color: rgb(245,245,245);
    border-radius: 15px;
    width: 120px;
    padding: 3px;
    font-weight: bold;
}

.plus {
    display: block;
    border: 5px solid rgb(3,209,178);
    background-color: rgb(3,209,178);
    color: rgb(245,245,245);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    font-size: larger;
}

.create {
    height: 30px;
    width: 150px;
    background-color: rgb(43,119,228);
    color: white;
    border-color: black;
    box-shadow: 3px 3px black;
}
