<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
    <title>Emails</title>
</head>
<body style="font-family: Balsamiq Sans;">

    <div class="card" style="width: 18rem; margin: 0px 0px 0px 40%;">
        <div class="card-body">
                {% for message in get_flashed_messages() %}            <!-- loop through the messages in get_flashed_messages() function call, you can add category_filter as an argument for this function.-->
                    <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                {% endfor %}

          <form action="/create_email" method="post">
            <label for="email">Enter your email: </label>
            <input type="text" id="email" name="email">
            <button class="btn btn-primary"> Create Email</button>
        </form>
        </div>
      </div>





    





    
</body>
</html>