<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">    <title>Counter</title>

</head>
<body>
    <h1 style="text-align: center;">Counter</h1>
    <p style="text-align: center;">{{session['count']}}</p>
    <div class="center">
        <a href="/count"><button type="button" class="btn btn-success">Click</button></a>
    <a href="/destroy_session"><button type="button" class="btn btn-danger">Reset</button></a>
    </div>
    

    
</body>
</html>