* {
    margin: 0;
    padding: 0;
    font-family: "Balsamiq sans";

}


.wrapper {
    margin: 50px;
    height: 300px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topbox {
    background-color: rgb(101,163,172);
    flex: 1;
}

.bodybox {
    background-color: white;
    border-left: 3px solid gray;
    border-right: 3px solid gray;
    border-bottom: 3px solid gray;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    row-gap: 8px;
}

h1 {
    flex: 2;
    padding-top: 25px;
}

.location {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
    
}

p {
    flex: 1;
}

.editprofile {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.profilepic {
    position: absolute;
    top:90px;
    left: 70px;
    border: 3px solid gray;
    border-radius: 50%;
    padding: 4px 3px 0px;
    background-color: white;
}