<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos</title>
</head>
<body style="display: flex; gap: 50px; ">
    <div class="left">
        <h1>New Dojo</h1>
        <form action="/create_dojo" method="post">
            <label for="dojo_name">Name: </label>
            <input type="text" id="dojo_name" name="dojo_name">
            <button>Create</button>
        </form>

    </div>
    <div class="right">
        <h1>All Dojos</h1>
        <div class="box" style="border: 5px solid black;">
            {% for each_dojo in all_dojos %}
            <a href="/show_dojo/{{each_dojo.id}}"><p>{{each_dojo.name}}</p></a>
            {%endfor%}

        </div>
        <a href="/ninja_page">Add Ninja</a>
    </div>
    
</body>
</html>