<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Ninja</title>
</head>
<body>
    <h1>New Ninja</h1>
    <form action="/create_ninja" method="post">
        <label for="dojo_name">Dojo: </label>
        <select name="dojo_id" id="dojo_name">
            {% for each_dojo in all_dojos%}
    <!-- The value for the foreign key should be id using jinja syntax so you can use it in the controller -->
            <option value="{{each_dojo.id}}">{{each_dojo.name}}</option>
            {%endfor%}
        </select>

        <label for="first_name">First Name: </label>
        <input type="text" id="first_name" name="first_name">

        <label for="last_name">Last Name: </label>
        <input type="text" id="last_name" name="last_name">

        <label for="age">Age: </label>
        <input type="text" id="age" name="age">
        <button>Create</button>
    </form>

    <a href="/dojos">Home</a>

</body>
</html>