<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Show</title>
</head>
<body>
    <h1>{{dojo.name}} Ninjas</h1>
    <div class="box" style="border: 5px solid black;">
        <table>
            <thead>
                <th>First Name</th>
                <th>Last name</th>
                <th>Age</th>
            </thead>
            <tbody>
                {% for each_ninja in dojo.ninjas %}
                <tr>
                    <td>{{each_ninja.first_name}}</td>
                    <td>{{each_ninja.last_name}}</td>
                    <td>{{each_ninja.age}}</td>
                </tr>
                {% endfor %}

                
            </tbody>
        </table>

    </div>
    <a href="/dojos">Home</a>
</body>
</html>